body{
  padding: 0 20px;
}

header {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

main {
  padding: 10px;
}

.search-account {
  margin: 0 auto;
}


@media screen and (min-width: 700px) {
  .search-account {
    width: 45% !important;
  }
}

@media screen and (min-width: 900px) {
  .search-account {
    width: 40% !important;
  }
}

@media screen and (min-width: 1200px) {
  .search-account {
    width: 35% !important;
  }
}